{% extends 'base.html.twig'%}

{% block body %}
    <h1>Bienvenue dans ce blog </h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi odio sit repellat eaque id, minima vitae enim vero fugit, alias vel aut aperiam cumque accusantium explicabo dolores laborum, molestias maiores dolor ducimus asperiores. Illum itaque corrupti ipsam ad illo inventore.</p>
    <p>Veniam asperiores numquam inventore quaerat repellendus voluptate sapiente sint iure perspiciatis nostrum. Commodi, aut reiciendis! Quisquam suscipit vitae minus delectus laboriosam laudantium doloribus, soluta provident quo necessitatibus repellat nulla veritatis repellendus impedit ipsum rerum perferendis adipisci quaerat temporibus repudiandae earum!</p>
{% endblock %}